.col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.paper {
  border: solid 1px #DDDDDD;
  border-radius: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}
.shadow {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.Hero-Wrapper {
  overflow-x: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}
.Hero-Wrapper .Hero-After,
.Hero-Wrapper .Hero-Before {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100vw;
}
.Hero-Wrapper .Hero-After .Hero-After-Background {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #DAF2E2;
  overflow: hidden;
  z-index: 1;
}
.Hero-Wrapper .Hero-After .Hero-After-Image {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.Hero-Wrapper .Hero-After .Hero-After-Image img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (max-width: 414px) {
  .Hero-Wrapper .Hero-After .Hero-After-Image img {
    left: -380px;
  }
}
.Hero-Wrapper .Hero-Before .Hero-Before-Background {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: repeat;
  z-index: 4;
  border-right: solid 3px white;
}
.Hero-Wrapper .Hero-Before .Hero-Before-Image {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
  overflow: hidden;
  border-right: solid 3px white;
}
.Hero-Wrapper .Hero-Before .Hero-Before-Image img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 100%;
  z-index: 4;
}
@media only screen and (max-width: 414px) {
  .Hero-Wrapper .Hero-Before .Hero-Before-Image img {
    left: -380px;
  }
}
.Hero2-Wrapper {
  height: 700px;
  width: 100%;
  background: linear-gradient(135deg, #ce2d4d 0%, #9382d0 25%, #6accff 50%, #9382d0 75%, #ce2d4d 100%);
}
.Hero2-Wrapper .Hero2-Container {
  width: 100%;
}
